<!DOCTYPE html>
<html>
<head>
    <title>My Application</title>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class=flashes>
        {% for category, message in messages %}
        <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}


</head>
<body>
    <h1>Todos</h1>
    <ul id="todos">
    {% for todo in data %}
        <li>
            <input class="toggle" type="checkbox" id="{{ todo.id }}" name="is_completed" value="{{ todo.id }}" {% if todo.completed %} checked  {% endif %}>
            <strong>{{ todo.title }}</strong>
            <p>{{ todo.description }}</p>
            <button>&cross;</button>
        </li>
    {% endfor %}
    </ul>
    <h2>Create a new to-do</h2>
    <form id="create_todo">
        <label>Title:</label>
        <input type="text" name="title" id="title">
        <label>Description:</label>
        <input type="text" name="description" id="description">
        <input type="submit">

    </form>
    <script>
        const buttons = document.querySelectorAll('button');
        for (button of buttons){
            button.onclick = handleButtonClick;
        }
        function handleButtonClick(){
            console.log(this.parentNode.childNodes)
            const siblings = this.parentNode.childNodes;
            let input;
            siblings.forEach(element => {
                if (element.nodeName === 'INPUT') {
                    input = element;
                }
            });
            const id = input.id || '';
            console.log(id)
            if (!!id) {
                fetch('/todo/' + id, {
                    method: 'DELETE'
                }).then(response => {
                    if (!response.ok) {
                        throw Error(response.statusText)
                    } else {
                        alert('Successfully deleted record');
                        location.reload()
                    }
                })
            } else {alert('Cannot delete: No id found.')}
        };
    </script>
    <script>
        const checkboxes = document.querySelectorAll('input[type=checkbox]');
        for (checkbox of checkboxes) {
            checkbox.onchange = handleToggle;
        }
        function handleToggle() {
            fetch('/todo/update', {
                method: 'POST',
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify({
                    'completed': this.checked,
                    'id': this.id,
                    'title': this.nextSibling.nextElementSibling.innerHTML
                    })
            })
            .then(response => response.json())
            .then(jsonResponse => {
                const checkbox = document.getElementById(jsonResponse.data.id);
                
                alert(`I have updated ${jsonResponse.data.title} to "completed": ${jsonResponse.data.completed}.`);
            }).catch((err) => {
                alert('an error occurred');
                console.log('HI',err);
                this.checked = !this.checked;
            });
        }
    </script>
    <script>
        document.getElementById('create_todo').onsubmit = function(e) {
            e.preventDefault();
            fetch('/todo/create-new', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json'},
                body: JSON.stringify({
                    'title': document.getElementById('title').value,
                    'description': document.getElementById('description').value,
                })
            })
            .then((response) => {
                if (response.ok) {
                    return response.json()
                } else { 
                    alert('Something went wrong', response)
                    throw new Error('Something went wrong' + response.status)
                }
            })
            .then(jsonResponse => {
                const todoNode = document.getElementById('todos');

                const liNode = document.createElement('li');
                nodesStrings = ['strong', 'p', 'input'];
                for (nodeString of nodesStrings) {
                    let node = document.createElement(nodeString);
                    if (nodeString === 'input') {
                        node.type = "checkbox"; 
                        node.name = "is_completed"; 
                        node.value = jsonResponse.data.id; 
                        node.id = jsonResponse.data.id; 
                        node.class ='toggle';
                        node.onchange = handleToggle;
                        
                        if (jsonResponse.completed) {
                            node.checked = True
                        }
                    } else if (nodeString === 'strong') {
                        node.innerHTML = jsonResponse.data.title
                    } else if (nodeString == 'p') {
                        node.innerHTML = jsonResponse.data.description
                    }

                    liNode.appendChild(node)
                }

                todoNode.appendChild(liNode)
                })
            .catch((error) => {console.log(error)})
        }
        
    </script>
</body>
</html>