<!DOCTYPE html>
<html>
<head>
    <title>My Application</title>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class=flashes>
        {% for category, message in messages %}
        <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}


</head>
<body>
    <h1>Lists</h1>
    <ul id="lists">
    {% for li in lists %}
        <li id="{{ li.id }}">
            <input class="toggle" type="checkbox" id="{{ li.id }}" name="is_complete" value="{{ li.id }}" {% if li.is_complete %} checked  {% endif %}>
            <strong>{{ li.title }}</strong>
            <p>{{ li.description }}</p>
            <button>&cross;</button>
        </li>
    {% endfor %}
    </ul>
    <h2>Create a new list</h2>
    <form id="create_list">
        <label>Title:</label>
        <input type="text" name="title" id="list_title">
        <label>Description:</label>
        <input type="text" name="description" id="list_desc">
        <input type="submit">
    </form>
    <h1>Todos</h1>
    <ul id="todo">
    {% for todo in todos %}
        <li id="{{ todo.id }}">
            <input class="toggle" type="checkbox" id="{{ todo.id }}" name="is_complete" value="{{ todo.id }}" {% if todo.is_complete %} checked  {% endif %}>
            <strong>{{ todo.title }}</strong>
            <p>{{ todo.description }}</p>
            <button>&cross;</button>
        </li>
    {% endfor %}
    </ul>
    <h2>Create a new to-do</h2>
    <form id="create_todo">
        <label>Title:</label>
        <input type="text" name="title" id="todo_title">
        <label>Description:</label>
        <input type="text" name="description" id="todo_desc">
        <input type="submit">
    </form>
    <script>
        const buttons = document.querySelectorAll('button');
        for (button of buttons){
            button.onclick = handleButtonClick;
        }
        function handleButtonClick(){
            const dir = this.parentNode.parentNode.id
            const id = this.parentNode.id || '';
            console.log('fetching: /' + dir + '/' + id + ' method: DELETE')
            if (!!id) {
                fetch('/' + dir + '/' + id, {
                    method: 'DELETE'
                }).then(response => {
                    if (!response.ok) {
                        throw Error(response.statusText)
                    } else {
                        alert('Successfully deleted record');
                        location.reload()
                    }
                })
            } else {alert('Cannot delete: No id found.')}
        };
    </script>
    <script>
        const checkboxes = document.querySelectorAll('input[type=checkbox]');
        for (checkbox of checkboxes) {
            checkbox.onchange = handleToggle;
        }
        function handleToggle() {
            const dir = this.parentNode.parentNode.id
            console.log(dir)
            fetch('/' + dir + '/update', {
                method: 'POST',
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify({
                    'is_complete': this.checked,
                    'id': this.id,
                    'title': this.nextSibling.nextElementSibling.innerHTML
                    })
            })
            .then(response => response.json())
            .then(jsonResponse => {
                const checkbox = document.getElementById(jsonResponse.data.id);
                
                alert(`I have updated ${jsonResponse.data.title} to "is_complete": ${jsonResponse.data.is_complete}.`);
            }).catch((err) => {
                alert('an error occurred');
                console.log('HI',err);
                this.checked = !this.checked;
            });
        }
    </script>
    <script>
        document.getElementById('create_todo').onsubmit = function(e) {
            e.preventDefault();
            fetch('/todo/create-new', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json'},
                body: JSON.stringify({
                    'title': document.getElementById('todo_title').value,
                    'description': document.getElementById('todo_desc').value,
                })
            })
            .then((response) => {
                if (response.ok) {
                    return response.json()
                } else { 
                    alert('Something went wrong', response)
                    throw new Error('Something went wrong' + response.status)
                }
            })
            .then(jsonResponse => {
                const todoNode = document.getElementById('todo');

                const liNode = document.createElement('li');
                nodesStrings = ['strong', 'p', 'input', 'button'];
                for (nodeString of nodesStrings) {
                    let node = document.createElement(nodeString);
                    if (nodeString === 'input') {
                        node.type = "checkbox"; 
                        node.name = "is_complete"; 
                        node.value = jsonResponse.data.id; 
                        node.id = jsonResponse.data.id; 
                        node.class ='toggle';
                        node.onchange = handleToggle;
                        
                        if (jsonResponse.is_complete) {
                            node.checked = True
                        }
                    } else if (nodeString === 'strong') {
                        node.innerHTML = jsonResponse.data.title
                    } else if (nodeString == 'p') {
                        node.innerHTML = jsonResponse.data.description
                    }

                    liNode.appendChild(node)
                }

                todoNode.appendChild(liNode)
                })
            .catch((error) => {console.log(error)})
        }
        
    </script>
    <script>
        document.getElementById('create_list').onsubmit = function(e) {
            e.preventDefault();
            alert('I have been submitted')
            fetch('/lists/create-new', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json'},
                body: JSON.stringify({
                    'title': document.getElementById('list_title').value,
                    'description': document.getElementById('list_desc').value,
                })
            })
            .then((response) => {
                if (response.ok) {
                    return response.json()
                } else { 
                    alert('Something went wrong', response)
                    throw new Error('Something went wrong' + response.status)
                }
            })
            .then(jsonResponse => {
                const listNode = document.getElementById('lists');

                const li = document.createElement('li');
                nodesStrings = ['strong', 'p', 'button'];
                for (nodeString of nodesStrings) {
                    let node = document.createElement(nodeString);
                    if (nodeString === 'strong') {
                        node.innerHTML = jsonResponse.data.title
                    } else if (nodeString == 'p') {
                        node.innerHTML = jsonResponse.data.description
                    } else if (nodeString == 'button') {
                        node.onclick = handleButtonClick;
                    }
                    li.appendChild(node)
                }

                listNode.appendChild(li)
                })
            .catch((error) => {console.log(error)})
        }
        
    </script>
</body>
</html>